.btn {
  width: 50px;
  height: 40px;
  outline: 0;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 8px;
  font-size: 30px;
}

.btn-incr {
  background-color: chartreuse;
}
.btn-decr {
  background-color: chocolate;
}
